@charset "utf-8";
html{
    font-family:"ヒラギノ角ゴ Pro W3","MSPゴシック",sans-serif;
    background-color: #FFECA4;
}
h1.out{
  vertical-align:top;
  color: #DB98F5;
  text-align: center;
  font-size: 4em;
}
h1.measuring{ 
  color: #DB98F5;
  text-align: center;
  font-size: 5em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
p.maintext{
    color: #DB98F5;
    text-align: center;
    font-size: 5em;
}
p.mainparts{
  height:100px;
  width: 200px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color:#9460A8;
}
a.btn--yellow {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

input{
  text-align: center;
  height:100px;
  width: 200px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 4em;
}

a.btn--yellow {
  color: #000;
  background-color: #fff100;
  border-bottom: 5px solid #ccc100;
}

a.btn--yellow:hover {
  margin-top: 3px;
  color: #000;
  background: #fff20a;
  border-bottom: 2px solid #ccc100;
}
p.leftpart{
  position: absolute;
  left: 35%;
  transform: translateX(-50%);
  bottom: 42%;
  font-size: 2em;
}
p.rightpart{
  position: absolute;
  right: 22%;
  transform: translateX(-50%);
  bottom: 42%;
  font-size: 2em;
}

.box {
  height: 800x;
      background-color: #fffeb09c;
      border: 10px solid #FFD396;
      margin: 100px 50px;
      position: absolute;
      
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  }
.exp{
  margin-bottom: 60px;
  margin-left: 60px;
  margin-right: 60px;
  display: inline-block;
}
.btnstart{
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}
.btnhome{
  margin-bottom: 20px;
  margin-left:auto;
  display: inline-block;
}
.btnretry{
  margin-bottom: 20px;
  margin-left:auto;
  display: inline-block;
}